@import "@scss/base.scss";
.routerStyle {
    position: absolute;
    width: 100%;
}
.mes-default-layout {
    height: 100vh;
    color: $base-text-color;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ccc;
    }
    .ant-layout {
        background-color: $bg-color;
    }

    .content {
        text-align: left;
        padding: 15px;
    }
    .content-page {
        height: calc(100vh - 129px);
        position: relative;
        overflow: hidden;
    }

    .base-border-bottom {
        border-bottom: $base-border;
    }
    .panel {
        background-color: $primary-color;
        border-radius: 4px;
        padding: 10px;
        &:hover {
            // background: lighten($color: $primary-color, $amount: 2);
        }
    }
    .ant-table-tbody > tr.ant-table-row-selected td {
        background: $transition-color-1;
    }
    .ant-table-thead > tr:hover.ant-table-row-selected > td,
    .ant-table-tbody > tr:hover.ant-table-row-selected > td {
        background: $transition-color-4;
    }

    .ant-radio-wrapper,
    .ant-checkbox-wrapper {
        color: #ccc;
    }

    // 内联表单
    .inline-form {
        .ant-col {
            display: inline-block;
        }
        .ant-form-item {
            display: inline-block;            
            white-space: nowrap;
        }
        .ant-form-item-label {
            min-width: 110px;
        }
        .ant-form-explain{
            position: absolute;
        }
        .ant-form-item-with-help{
            margin-bottom: 24px;
        }
    }
}
